$expr1:$a+$b*$c;

$expr2:(
$a	+
$b )*$c;


$expr3:-$a +$b;
  $expr4:not	$a  and $b;

 $expr5:$a==
  $b
or  $c!=

$d;

  $expr6:$a>=  $b
  and not( $c<=$d);
  $expr7:$a+$b+$c*$d/$e%$f;

 $expr8:(  $a
+ $b )*( $c
  -

$d)/$e;

$expr9:not
  -$a
  or $b  and

$c;
   $expr10:$a
  <
$b
  ==	$c;
  $expr11:$a  +$b*($c

+	$d ) -
$e;

	$expr12:($a

+

$b ) *
$c	+ $d/(  $e
-
  $f);


$expr13:-( $a
+

$b)

*

$c;
 $expr14:$a

and  $b or $c

and $d;

 $expr15:$a!=( $b
+	$c*  $d);

	$expr16:$a

+
  $b/$c
-
$d*$e

+ $f;

  $expr17:1+2*3-4/5;
  $expr18:-1+2;
  $expr19:( $a+
$b )*( $c+
$d )/( $e
  -$f);

$expr20:$a== $b and
 $c== $d
or  $e;

  $expr21:not( $a
== $b or
$c== $d);

$expr22:$a
or $b
and $c or
$d;

 $expr23:( $a
 +$b ) * -(
 $c - $d);

$expr24:$a/
  $b * $c
% $d;
